#ws{
    
    min-height: 100%;
    min-width: 100%;
    
}
.text{
    background-color:  rgba(255,255,255,255);
    color: rgba(68,68,68,255);
    text-align: center;
    margin-top:30%;
    border-radius: 30px;
    margin-left: 1px;
    margin-right: 10px;
    border-style: solid;
    font-size: 20px;
}

.refresh-btn{
    position: absolute;
    top:25%;
    margin-left: 45%;
    font-size: 30px;
    color: aqua;
    background-color: black;
    align-items: center;
    border-radius: 5px;
    text-shadow: 2px 2px red;
}  
.refresh-btn:hover{
    background-color: #ddecfc;
    color: black;
    
}
.text:hover{
    text-shadow: 1px 1px rgb(5, 5, 5);
    
    
}






